@media screen and (max-width: 800px) {
  #header {
    flex-direction: column;
    align-items: baseline;
  }

  #upcomingCardContainer {
    flex-direction: column;
    gap: var(--size06);
  }

  #upcomingHoursContainer {
    width: 100%;
  }

  #upcomingDaysContainer {
    width: 100%;
  }

  .DC-day_container {
    flex-direction: column;
  }

  .daysCard{
    grid-template-columns: 2fr 1fr 1fr 3fr;
  }

  .DC-date {
    padding-left: 15%;
  }
  .HC-time {
    justify-self: left;
    padding-left: 15%;
  }

  input[type="text"] {
    width: 40vw;
  }

  input[type="text"]:hover:not(:focus) {
    width: 50vw;
  }

  input[type="text"]:focus {
    width: 70vw;
  }
}

@media screen and (min-width: 800px) {
  #header {
    flex-direction: row;
    align-items: center;
  }

  #upcomingCardContainer {
    flex-direction: row;
  }

  #upcomingHoursContainer {
    width: 44%;
  }

  #upcomingDaysContainer {
    width: 46%;
  }

  .DC-day_container {
    flex-direction: row;
    align-items: center;
  }

  .daysCard{
    grid-template-columns: 3fr 1fr 1fr 3fr;
  }

  .HC-time {
    justify-self: left;
    padding-left: 30%;
  }

  input[type="text"] {
    width: 20vw;
  }

  input[type="text"]:hover:not(:focus) {
    width: 25vw;
  }

  input[type="text"]:focus {
    width: 40vw;
  }
}

body {
  height: 100%;
  background-color: var(--gradient1_fallback);
  background-image: var(--gradient1_main);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--gradient2_fallback);
}

#header_search {
  align-items: center;
}

#header_switches {
  align-items: center;
}

#switchUnitsBtn {
  position: absolute;
}

#header {
  margin: auto;
  justify-content: left;
  width: 90%;
  padding: var(--size06) 0;
  display: flex;
  justify-content: left;
  gap: var(--size03);
  margin: auto;
}

#header_search {
  display: flex;
  gap: var(--size03);
}

#header_switches {
  display: flex;
  gap: var(--size03);
}

#searchBtn {
  height: var(--size07);
  width: var(--size07);
  background-color: rgba(255, 255, 255, 0);
  color: var(--gradient2_fallback);
  border: none;
  border-radius: 50%;
  font-size: var(--size05);
  display: flex;
  align-items: center;
  cursor: pointer;
}

#searchBtn > svg {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.card {
  border-radius: var(--size02);
  padding: var(--size04);
  width: 90%;
  margin: auto;
}

#mainCardContainer1 {
  display: flex;
  gap: var(--size06);
  align-items: center;
}

#mainCardContainer2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: var(--size01);
  padding: var(--size04) 0;
}

#mainCardContainer3 {
  display: flex;
  align-items: center;
  gap: var(--size03);
  padding-bottom: var(--size03);
}

#refreshBtn {
  display: flex;
  cursor: pointer;
  transition: transform 1s ease;
}

#refreshBtn:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
}

#refreshBtn.rotating {
  transform: scale(1.2) rotate(360deg);
  transition: transform 1s ease;
}

#refreshBtn > svg {
  height: var(--size05);
  align-self: center;
}

input[type="text"] {
  height: var(--size06);
  background-color: rgba(255, 255, 255, 0);
  color: var(--gradient2_fallback);
  border-radius: var(--size02);
  border: none;
  outline: 2px solid white;
  padding: var(--size01);
  padding-left: var(--size02);
  font-size: var(--size04);
  line-height: var(--size05);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  transition-property: padding, font-size, line-height, width, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

input[type="text"]:focus {
  padding: var(--size01);
  padding-left: var(--size02);
  font-size: var(--size05);
  line-height: var(--size06);
}

input[type="text"]::placeholder {
  color: white;
}

#currentIcon > svg {
  width: var(--size09);
}

.svgIcon > svg {
  fill: #fff;
  stroke: #fff;
}

#currentWindContainer {
  display: flex;
  align-items: center;
  gap: var(--size04)
}

#winddirArrow {
  height: var(--size05);
  transform: rotate(0deg) scaleY(1.4);
}

#upcomingCardContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#upcomingHoursContainer, #upcomingDaysContainer {
  display: flex;
  flex-direction: column;
}

.underline {
  height: 1px;
  background-color: #fff;
  width: 100%;
  align-self: baseline;
}

.hoursCard, .daysCard {
  width: 100%;
  height: var(--size08);
  display: grid;
  align-items: center;
  justify-items: center;
  align-self: baseline;
}

.hoursCard {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.hoursCard > .svgIcon > svg,
.daysCard > .svgIcon > svg {
  align-self: center;
  width: var(--size07);
}

#upcomingHoursCardTitle, #upcomingDaysCardTitle {
  text-align: left;
  padding-bottom: var(--size03);
  align-self: baseline;
}

.DC-day_container {
  width: 100%;
  display: flex;
  gap: var(--size01)  
}

.DC-week {
  width: 30%;
  padding-left: 15%;
  justify-self: left;
}

.DC-temp {
  display: flex;
  height: 70%;
  gap: var(--size03)
}

.DC-temp-max {
  align-self: flex-start;
}

.DC-temp-min {
  align-self: flex-end;
}

.DC-temp-divider {
  height: 80%;
  width: 1px;
  align-self: center;
  background-color: #fff;
  transform: rotate(20deg);
}